---
## Note: all fields are optional except for title

title: Example Page 3
description: The example page description goes here. The example page description goes here. The example page description goes here. The example page description goes here. The example page description goes here.
updated: Updated Feb. 28, 2020
thumbnail: example-screenshot.png
group: Samples
---

{% extends "@templates/layouts/base.twig" %}

{% block content %}
<h1>Example Page</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque ab dolor libero perspiciatis neque cupiditate error est, accusantium alias? Magnam non harum a suscipit repudiandae aspernatur, porro pariatur nihil ipsum.</p>
{% endblock %}
