---
title: 👋 Hello!
---

{% extends "@puppy/layouts/base.twig" %}

{% block content %}
<h1>Hi! I'm your new prototype. Nice to meet you!</h1>

<p>If you're reading this you've already installed me and run <code>npm start</code>. I commend you!</p>
<p>If this isn't your first Puppy rodeo, feel free to delete me and do your thing.</p>
<p>Otherwise, allow me to show you around!</p>

<h2>First things first...</h2>
<ul>
  <li>
    <a>Crack open your favorite text editor (might I recommend <a href="https://code.visualstudio.com/">Visual Studio Code</a>?)
  </li>
</ul>

<h2>Create a new page</h2>
<ul>
  <li>Give it a name</li>
  <li>Extend the base template</li>
  <li>Define a content block</li>
  <li>Add some content</li>
  <li>Define a partial</li>
  <li>Using the site variable</li>
  <li>Using the page variable</li>
  <li>Link to pages, static files, or assets</li>
  <li>Using a JSON data file</li>
</ul>

<h2>Make it pretty</h2>
<ul>

  <li>Add a Sass file</li>
  <li>Link to a static asset (font, background image)</li>
</ul>

<h2>Make it sparkle</h2>
<ul>

  <li>Add a Javascript file</li>
  <li>Install and import a third party dependency</li>
</ul>

<h2>Share it with the world</h2>
<ul>
  <li>Deploy to Netlify</li>
</ul>
{% endblock %}
