---
title: Prototype Index
---

{% extends "@templates/layouts/base.twig" %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ puppy.assetUrl('menu.css') }}">
{% endblock %}

{% block header %}
<header class="header">
  <h1 class="title">Page Index</h1>
</header>
{% endblock %}

{% block content %}
  {% include "@templates/partials/prototype-index.twig" %}
{% endblock %}

{% block footer %}
<footer class="footer">
  {% include '@templates/svgs/menu/logo.twig' %}
</footer>
{% endblock %}

{% block scripts %}{% endblock %}