---
## Note: menu items can be edited via /src/data/menu.json

title: Prototype Index
---

{% extends "@templates/layouts/base.twig" %}

{% set config = site.data['menu.json'] %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ puppy.assetUrl('menu.css') }}">
{% endblock %}

{% block header %}
<header class="home-header">
  <div class="home-header__ups-lockup">
    {% if config.logo %}
    <img class="logo" src="{{ config.logo.url }}" alt="{{ config.logo.alt | default('') }}" />
    {% endif %}

    {% if config.header_links|length %}
    <nav class="home-header__outlinks">
      <ul class="home-header__outlinks-list">
        {% for link in config.header_links %}
        <li class="home-header__outlinks-item">
          <a class="home-header__outlinks-link" href="{{ link.url }}">{{ link.label }}</a>
        </li>
        {% endfor %}
      </ul>
    </nav>
    {% endif %}
  </div>
  <h1 class="home-header__title">{{ page.title }}</h1>
</header>
{% endblock %}

{% block content %}
<nav class="home-menu">
  <ul class="home-menu__list">

    {% for p in site.pages if p.path != page.path and p.menu != false %}
      <li class="home-menu__item{% if p.thumbnail %} home-menu__item--has-thumbnail{% else %} home-menu__item--no-thumbnail{% endif %}">
        <a class="home-menu__link" href="{{ puppy.url(p) }}">

          {% if p.thumbnail %}
          <div class="home-menu__images">
            <img src="{{ puppy.staticUrl('img/' ~ p.thumbnail) }}" alt="{{ p.title }}" />
          </div>
          {% endif %}

          <div class="home-menu__text">
            <div class="home-menu__text-inner">
              <h2 class="home-menu__title">{{ p.title }}</h2>
              {% if p.updated %}
                <h4 class="home-menu__updated">{{ p.updated }}</h4>
              {% endif %}
              {% if p.description %}
                <p class="home-menu__description">{{ p.description }}</p>
              {% endif %}
              {% if p.thumbnail %}
                {% include '@templates/svgs/menu/circle-arrow.twig' %}
              {% endif %}
            </div>
          </div>
        </a>
      </li>
    {% endfor %}

  </ul>

{# Example groups #}

{% for i in [1, 2] %}
  <section class="home-menu__group">
    <h3 class="home-menu__group-head">Group {{ i }}</h3>
    <ul class="home-menu__group-pages">
    {% for p in site.pages if p.path != page.path and p.menu != false %}
      <li class="home-menu__group-item">
        <a href="" class="home-menu__group-item-link">
          {% if p.thumbnail %}
            <img class="home-menu__small-thumb" src="{{ puppy.staticUrl('img/' ~ p.thumbnail) }}" alt="{{ p.title }}" />
          {% endif %}
          <div class="home-menu__small-text">
            <div class="home-menu__small-text-inner">
              <h2 class="home-menu__small-title">{{ p.title }}</h2>
              {% if p.updated %}
                <h4 class="home-menu__small-updated">{{ p.updated }}</h4>
              {% endif %}
            </div>
            {% include '@templates/svgs/menu/circle-arrow.twig' %}
          </div>
        {# {% if p.description %}
          <p class="home-menu__small-description">{{ p.description }}</p>
        {% endif %} #}
        </a>
      </li>
    {% endfor %}
    </ul>
  </section>
{% endfor %}

</nav>


{% endblock %}

{% block footer %}
<footer class="home-footer">
  <div class="home-footer__inner">
    <p><a href="https://github.com/Upstatement/puppy">Built with Puppy</a></p>
  </div>
</footer>
{% endblock %}

{% block scripts %}{% endblock %}
