<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>

    {% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ puppy.assetUrl('reset.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ puppy.assetUrl('menu.css') }}">
    {% endblock %}
  </head>
  <body>
    <main>
      <header class="header">
        <h1 class="title">{{ page.title }}</h1>
      </header>

      {% block menu %}{% endblock %}

      <footer class="footer">
        {% include '../svgs/menu/logo.twig' %}
      </footer>
    </main>
  </body>
</html>
