@charset "UTF-8";

$bp--sm: 600px;
$bp--lg: 1000px;

html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

main {
  padding: 4vw;

  @media (min-width: $bp--sm) {
    padding: 2vw;
  }
}

.header {
  border-bottom: 1px solid;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.header__title {
  font-size: 30px;

  @media (min-width: $bp--sm) {
    font-size: 40px;
  }
}

.header__logo {
  margin-bottom: 50px;
  width: 150px;

  @media (min-width: $bp--sm) {
    align-self: flex-end;
    margin-bottom: 100px;
  }
}

.menu {
  @media (min-width: $bp--lg) {
    padding-left: 20vw;
  }
}

.menu__link {
  align-items: center;
  border-bottom: 1px solid #ccc;
  color: #888;
  display: flex;
  font-size: 20px;
  justify-content: space-between;
  padding-bottom: 20px;
  padding-top: 20px;
  text-decoration: none;
  transition: all 200ms ease-in-out;
  width: 100%;

  @media (min-width: $bp--sm) {
    align-items: baseline;
    font-size: 30px;
    padding-top: 30px;
  }

  &:hover {
    border-color: black;
    color: black;
  }
}

.menu__arrow {
  width: 16px;

  @media (min-width: $bp--sm) {
    transform: translateX(-5px);
    transition: transform 150ms ease-in-out;
    width: auto;

    .menu__link:hover & {
      transform: translateX(0);
    }
  }
}
